<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Comme</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>copyright</key>
	<string>Digitized data Copyright (c) 2011-2014, vernon adams.</string>
	<key>trademark</key>
	<string>Comme is a trademark of Vernon Adams and may be registered in certain jurisdictions.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>528</integer>
	<key>capHeight</key>
	<integer>711</integer>
	<key>ascender</key>
	<real>761.719</real>
	<key>descender</key>
	<real>-271.484</real>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2014/03/04 21:45:30</string>
	<key>openTypeNameDesigner</key>
	<string>Vernon Adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNameManufacturer</key>
	<string>newtypography</string>
	<key>openTypeNameManufacturerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNameLicense</key>
	<string>Copyright (c) 2014, vernon adams.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is available with a FAQ at:
http://scripts.sil.org/OFL
</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameVersion</key>
	<string>Version 2</string>
	<key>openTypeNamePreferedFamilyName</key>
	<string>Comme</string>
	<key>openTypeNamePreferedSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string>NeWT</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>1167</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1167</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>250</integer>
	<key>postscriptFontName</key>
	<string>Comme-Regular</string>
	<key>postscriptFullName</key>
	<string>Comme Regular</string>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>528</integer>
		<integer>540</integer>
		<integer>711</integer>
		<integer>721</integer>
		<integer>758</integer>
		<integer>762</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-225</integer>
		<integer>-202</integer>
	</array>
    </dict>
</plist>
